@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

.navbar{
    background-color: #272D2D;
}


.navbar a{
    color: white;
    font-size: xx-large;
}

.navbar-text{
    font-size: x-large;
}

.fondo-org{
    background-image: url(../ProyectoFinal/img/sesionOrg.png);
    background-repeat: no-repeat;
    height: 1200px;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    text-align: center;
    font-size: xx-large;
    
}

.fondo-re{
    font-family: 'Inter', sans-serif;
    background-image: url(../ProyectoFinal/img/menu2.png);
    background-repeat: no-repeat;
    height: 900px;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    text-align: center;
    font-size: 300%;
    
}


.titulo-Org{
    color: white;
}

.opciones-img {
  display: flex;
  justify-content: center;
  font-size: x-large;
}
