@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

.navbar{
    background-color: #272D2D;
}


.fondo-org{
    padding-top:70px;
    background-image: url(../ProyectoFinal/img/sesionOrg.png);
    background-repeat: no-repeat;
    height: 1200px;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    text-align: center;
    font-size: xx-large;
    
}

.fondo-re{
    padding-top:70px;
    font-family: 'Inter', sans-serif;
    background-image: url(../ProyectoFinal/img/menu2.png);
    background-repeat: no-repeat;
    height: 900px;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    text-align: center;
    font-size: 300%;
    
}

.fondo-inventario{
    padding-top:70px;
    font-family: 'Inter', sans-serif;
    background-image: url(../ProyectoFinal/img/fiesta-inventario.png);
    background-repeat: no-repeat;
    height: 900px;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    text-align: center;
    font-size: 300%;

}

.fondo-emp{
  padding-top:70px;
  font-family: 'Inter', sans-serif;
  background-image: url(../ProyectoFinal/img/gestor-emp.png);
  background-repeat: no-repeat;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  color:white;
  text-align: center;
  font-size: 300%;

}

.titulo-Org{
    color: white;
}

.opciones-img {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.container {
  background-color: #272D2D;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-emp {
  background-color: #272D2D;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;

}

.seccion-izq {
  
}

.object-name {
  font-weight: bold;
  font-size: 80%;
}

.seccion-der {
  display: flex;
  gap: 10px;
}

.add-button {
  padding: 5px 10px;
  background-color: #ACE894;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

.add-button:hover {
  padding: 5px 10px;
  background-color: #6e943d;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

.delete-button{
  padding: 5px 10px;  
  background-color: #6C1717;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

.delete-button:hover{
  padding: 5px 10px;  
  background-color: #cf0202;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

.emp-button{
  padding: 5px 10px;  
  background-color: #90E0F3;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

.emp-button:hover{
  padding: 5px 10px;  
  background-color: #83cbdd;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}